# Data Science Tools and Ecosystem

__Objectives:__
* List of popular languages for Data Science
* List of Data Science Libraries
* List of open source Data Science Tools
* Some example of Python Codes

In this notebook, we will take a look at different data science tools, programming languages, packages, etc., to get an overview of data science.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Numpy
3. Ski-learn
4. Matplotlib
5. Scipy

| Data Science Tools |
|--------------------|
|      MySQL         |
|   Apache Airflow   |
|      Kibana        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
m = 200
h = m/60
h

3.3333333333333335

## Author 
Meissam Mehdizadeh